<h1> Carros </h1>

<%= link_to "Agregar carro", new_car_path%>

<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre del carro</th>
      <th>Color del carro</th>
      <th>Año del carro</th>
      <th>Agencia</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
  <% @cars.each do |car|%>
    <tr>
      <td><%= car.id %></td>
      <td><%= car.name%></td>
      <td style="background-color: <%= car.colour %>"></td>
      <td><%= car.name%></td>
      <td><%= car.agency.name %></td>

      <td><%= link_to "Editar", edit_car_path(car)%></td>
      <td><%= link_to "Borrar", cars_path(car), method: :delete%></td>
    </tr>
  <% end %>
  </tbody>
</table>
